/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3f3f3;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000;
  padding: 20px;
  height: 60px;
  width: 100%;
  color: #fff;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.drawer {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.drawer .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

.nav-links.active {
  display: flex;
}

.btn {
  background-color: #07bcd4;
  color: #fff;
  padding: 7px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #00aabb;
}

header {
  padding-top: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.column {
  padding: 20px;
  flex: 1;
  min-width: 280px;
}

.col-3 {
  flex: 3;
}

.col-2 {
  flex: 2;
}

@media (min-width: 768px){
  .column.col-3{
    flex: 3;
  }
  .column.col-2{
    flex: 10%;
  }
}

@media (max-width: 768px){
  .container{
    flex-direction: column;
  }
}

.card-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px #0000001a;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.title-card{
  padding-bottom: 1rem;
}

.encabezado{
  padding-bottom: 1rem;
}

.parrafo{
  padding-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.card h2 {
  width: 100%;
  text-align: center;
}

.profile-header {
  height: 150px;
  background-color: #6113aa;
}

.profile-img {
  margin-top: -75px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
  text-align: start;
  margin-top: 10px;
}

.edit-profile {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ececed;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile:hover {
  background-color: #b8babc;
}

.user-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  -webkit-user-drag: none;
}

.ajust .actions{
  margin-left: 2rem;
}

.actions {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
}

.actions button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
}

.check {
  background-image: url('/img/cheque.svg');
}

.cross {
  background-color: rgb(203, 22, 22);
}


.column.col-2 .card-container.other-card .card {
  height: auto; 
}
.edu.card-container .card{
  height: 200px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .drawer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
}
